hr
{
	position: fixed;
	top: 360px;
	left: 300px;
	width: 1400px;
	border: 1px dashed;
}

#form1
{
	position: fixed;
	top: 100px;
	left: 465px;
}

#form2
{
	position: fixed;
	top: 383px;
	left: 465px;
}

.can
{
	position: fixed;
	top: 383px;
	left: 465px;
}

.div10
{
	position: absolute;
	top: 13px;
	left: 0px;
	width: 96px;
	height: 36px;
	font-size: 24px;
}

.div11
{
	position: absolute;
	top: 13px;
	left: 530px;
	width: 96px;
	height: 36px;
	font-size: 24px;
}

.div12
{
	position: absolute;
	top: 126px;
	left: 0px;
	width: 72px;
	height: 36px;
	font-size: 24px;
}

.div13
{
	position: absolute;
	top: 126px;
	left: 530px;
	width: 72px;
	height: 36px;
	font-size: 24px;
}

#course_id
{
	position: absolute;
	top: 0px;
	left: 120px;
	width: 337px;
	height: 63px;
	font-size: 24px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#course_name
{
	position: absolute;
	top: 0px;
	left: 650px;
	width: 337px;
	height: 63px;
	font-size: 24px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#dept_name
{
	position: absolute;
	top: 113px;
	left: 120px;
	width: 337px;
	height: 63px;
	font-size: 24px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#credits
{
	position: absolute;
	top: 113px;
	left: 650px;
	width: 337px;
	height: 63px;
	font-size: 24px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#submit
{
	position: absolute;
	top:200px;
	left:950px;
	width:117px;
	height:59px;
	background-color:white;
	font-size:20px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#submit:hover
{
	position: absolute;
	top:200px;
	left:950px;
	width:117px;
	height:59px;
	background-color:rgba(18,18,18,0.2);
	font-size:20px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#submit:active
{
	position: absolute;
	top:200px;
	left:950px;
	width:117px;
	height:59px;
	background-color:white;
	font-size:20px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

.div14
{
	position: absolute;
	top: 13px;
	left: 0px;
	width: 96px;
	height: 36px;
	font-size: 24px;
}

.div15
{
	position: absolute;
	top: 13px;
	left: 530px;
	width: 96px;
	height: 36px;
	font-size: 24px;
}

.div16
{
	position: absolute;
	top: 126px;
	left: 0px;
	width: 72px;
	height: 36px;
	font-size: 24px;
}

.div17
{
	position: absolute;
	top: 126px;
	left: 530px;
	width: 72px;
	height: 36px;
	font-size: 24px;
}

.div18
{
	position: absolute;
	top: 243px;
	left: 0px;
	width: 96px;
	height: 36px;
	font-size: 24px;
}

.div19
{
	position: absolute;
	top: 243px;
	left: 530px;
	width: 72px;
	height: 36px;
	font-size: 24px;
}

.div20
{
	position: absolute;
	top: 353px;
	left: 0px;
	width: 120px;
	height: 36px;
	font-size: 24px;
}

.div21
{
	position: absolute;
	top: 353px;
	left: 530px;
	width: 96px;
	height: 36px;
	font-size: 24px;
}

.div22
{
	position: absolute;
	top: 353px;
	left: 1000px;
	width: 96px;
	height: 36px;
	font-size: 24px;
}

#mount
{
	position: absolute;
	top: 340px;
	left: 1100px;
	width: 96px;
	height: 63px;
	font-size: 24px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#ci
{
	position: absolute;
	top: 0px;
	left: 120px;
	width: 337px;
	height: 63px;
	font-size: 24px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#cn
{
	position: absolute;
	top: 0px;
	left: 650px;
	width: 337px;
	height: 63px;
	font-size: 24px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#dn
{
	position: absolute;
	top: 113px;
	left: 120px;
	width: 337px;
	height: 63px;
	font-size: 24px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#c
{
	position: absolute;
	top: 113px;
	left: 650px;
	width: 337px;
	height: 63px;
	font-size: 24px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#course_order
{
	position: absolute;
	top: 230px;
	left: 120px;
	width: 337px;
	height: 63px;
	font-size: 24px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#year
{
	position: absolute;
	top: 230px;
	left: 650px;
	width: 337px;
	height: 63px;
	font-size: 24px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#season
{
	position: absolute;
	top: 340px;
	left: 120px;
	width: 337px;
	height: 63px;
	font-size: 24px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#time
{
	position: absolute;
	top: 340px;
	left: 650px;
	width: 337px;
	height: 63px;
	font-size: 24px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#s
{
	position: absolute;
	top:440px;
	left:920px;
	width:117px;
	height:59px;
	background-color:white;
	font-size:20px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#s:hover
{
	position: absolute;
	top:440px;
	left:920px;
	width:117px;
	height:59px;
	background-color:rgba(18,18,18,0.2);
	font-size:20px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#s:active
{
	position: absolute;
	top:440px;
	left:920px;
	width:117px;
	height:59px;
	background-color:white;
	font-size:20px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#cancel
{
	position: absolute;
	top:440px;
	left:1100px;
	width:117px;
	height:59px;
	background-color:white;
	font-size:20px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#cancel:hover
{
	position: absolute;
	top:440px;
	left:1100px;
	width:117px;
	height:59px;
	background-color:rgba(18,18,18,0.2);
	font-size:20px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#cancel:active
{
	position: absolute;
	top:440px;
	left:1100px;
	width:117px;
	height:59px;
	background-color:white;
	font-size:20px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}