#form1
{
	position: fixed;
	top: 183px;
	left: 465px;
}

.can
{
	position: fixed;
	top: 183px;
	left: 465px;
}

.div10
{
	position: absolute;
	top: 13px;
	left: 0px;
	width: 96px;
	height: 36px;
	font-size: 24px;
}

.div11
{
	position: absolute;
	top: 13px;
	left: 530px;
	width: 96px;
	height: 36px;
	font-size: 24px;
}

.div12
{
	position: absolute;
	top: 126px;
	left: 0px;
	width: 72px;
	height: 36px;
	font-size: 24px;
}

.div13
{
	position: absolute;
	top: 126px;
	left: 530px;
	width: 72px;
	height: 36px;
	font-size: 24px;
}

.div14
{
	position: absolute;
	top: 243px;
	left: 0px;
	width: 72px;
	height: 36px;
	font-size: 24px;
}

.div15
{
	position: absolute;
	top: 243px;
	left: 530px;
	width: 72px;
	height: 36px;
	font-size: 24px;
}

.div16
{
	position: absolute;
	top: 353px;
	left: 0px;
	width: 120px;
	height: 36px;
	font-size: 24px;
}

.div17
{
	position: absolute;
	top: 353px;
	left: 530px;
	width: 120px;
	height: 36px;
	font-size: 24px;
}

#id
{
	position: absolute;
	top: 0px;
	left: 120px;
	width: 337px;
	height: 63px;
	font-size: 24px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#password
{
	position: absolute;
	top: 0px;
	left: 650px;
	width: 337px;
	height: 63px;
	font-size: 24px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#name
{
	position: absolute;
	top: 113px;
	left: 120px;
	width: 337px;
	height: 63px;
	font-size: 24px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

.man
{
	position: absolute;
	top: 130px;
	left: 723px;
	width: 25px;
	height: 25px;
}

.woman
{
	position: absolute;
	top: 130px;
	left: 840px;
	width: 25px;
	height: 25px;
}

.sex1
{
	position: absolute;
	top: 126px;
	left: 676px;
	width: 24px;
	height: 36px;
	font-size: 24px;
}

.sex2
{
	position: absolute;
	top: 126px;
	left: 793px;
	width: 24px;
	height: 36px;
	font-size: 24px;
}

#dept_name
{
	position: absolute;
	top: 230px;
	left: 120px;
	width: 337px;
	height: 63px;
	font-size: 24px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#major
{
	position: absolute;
	top: 230px;
	left: 650px;
	width: 337px;
	height: 63px;
	font-size: 24px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#e_mail
{
	position: absolute;
	top: 340px;
	left: 120px;
	width: 337px;
	height: 63px;
	font-size: 24px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#telephone
{
	position: absolute;
	top: 340px;
	left: 650px;
	width: 337px;
	height: 63px;
	font-size: 24px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#submit
{
	position: absolute;
	top:540px;
	left:320px;
	width:117px;
	height:59px;
	background-color:white;
	font-size:20px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#submit:hover
{
	position: absolute;
	top:540px;
	left:320px;
	width:117px;
	height:59px;
	background-color:rgba(18,18,18,0.2);
	font-size:20px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#submit:active
{
	position: absolute;
	top:540px;
	left:320px;
	width:117px;
	height:59px;
	background-color:white;
	font-size:20px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#cancel
{
	position: absolute;
	top:540px;
	left:550px;
	width:117px;
	height:59px;
	background-color:white;
	font-size:20px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#cancel:hover
{
	position: absolute;
	top:540px;
	left:550px;
	width:117px;
	height:59px;
	background-color:rgba(18,18,18,0.2);
	font-size:20px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#cancel:active
{
	position: absolute;
	top:540px;
	left:550px;
	width:117px;
	height:59px;
	background-color:white;
	font-size:20px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}