@charset "UTF-8";
.div1
{
	position:fixed;
	top:140px;
	left:397px;
	width: 363px;
	height: 267px;
	background-image:url("../images/教师端背景.png");
}
.div2
{
	position:fixed;
	top:420px;
	left:760px;
	width:72px;
	height:36px;
	font-size:24px;
}
.div3
{
	position:fixed;
	top:547px;
	left:760px;
	width:96px;
	height:36px;
	font-size:24px;
}
.div4
{
	position:fixed;
	top:670px;
	left:760px;
	width:96px;
	height:36px;
	font-size:24px;
}
#email
{
	position:fixed;
	top:407px;
	left:880px;
	width:338px;
	height:63px;
	font-size:24px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#b
{
	position: fixed;
	top: 417px;
	left: 1250px;
	width:77px;
	height:44px;
	background-color:white;
	font-size:20px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#b:hover
{
	position: fixed;
	top: 417px;
	left: 1250px;
	width:77px;
	height:44px;
	background-color:rgba(155,244,243,0.2);
	font-size:20px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#b:active
{
	position: fixed;
	top: 417px;
	left: 1250px;
	width:77px;
	height:44px;
	background-color:white;
	font-size:20px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}

#scode
{
	position:fixed;
	top:534px;
	left:880px;
	width:338px;
	height:63px;
	font-size:24px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}
#npwd
{
	position:fixed;
	top:657px;
	left:880px;
	width:338px;
	height:63px;
	font-size:24px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}
#submit
{
	position:fixed;
	top:818px;
	left:1200px;
	width:117px;
	height:59px;
	background-color:white;
	font-size:20px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}
#submit:hover
{
	position:fixed;
	top:818px;
	left:1200px;
	width:117px;
	height:59px;
	background-color:rgba(155,244,243,0.2);
	font-size:20px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}
#submit:active
{
	position:fixed;
	top:818px;
	left:1200px;
	width:117px;
	height:59px;
	background-color:white;
	font-size:20px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}
#cancel
{
	position:fixed;
	top:818px;
	left:1383px;
	width:117px;
	height:59px;
	background-color:white;
	font-size:20px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}
#cancel:hover
{
	position:fixed;
	top:818px;
	left:1383px;
	width:117px;
	height:59px;
	background-color:rgba(155,244,243,0.2);
	font-size:20px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}
#cancel:active
{
	position:fixed;
	top:818px;
	left:1383px;
	width:117px;
	height:59px;
	background-color:white;
	font-size:20px;
	border-width:1px;
	border-style:solid;
	border-color:#BBBBBB;
}