@charset "UTF-8";
@font-face 
{
	font-family: FontAwesome;
	src: 
		url("../fonts/FontAwesome.otf"),
		local("../fonts/fontawesome-webfont.eot"),
		local("../fonts/fontawesome-webfont.svg"),
		local("../fonts/fontawesome-webfont.ttf"),
		local("../fonts/fontawesome-webfont.woff"),
		local("../fonts/fontawesome-webfont.woff2");
	font-weight: bold;
}

@font-face 
{
	font-family: glyphicons;
	src: 
		url("../fonts/glyphicons-halflings-regular.woff"),
		url("../fonts/glyphicons-halflings-regular.woff2");
	font-weight: bold;
}

@keyframes a1
{
	from {color: #fff;}
	to {color: red;}
}

@keyframes a2
{
	from {color: #fff;}
	to {color: #777;}
}

@keyframes a3
{
	from {color: #999;}
	to {color: #333;}
}

@keyframes a4
{
	from {color: #e24945;}
	to {color: #999;}
}

@keyframes a5
{
	from {color: #999;}
	to {color: #fff;}
}

html
{
	width: 100%;
}

body
{
	margin: 0;
	width: 100%;
	height: 2658px;
	font-family: 'Yantramanav', sans-serif;
}

.top
{
	height: 30%;
	width: 100%;
	background-size: 100% 100%;
	background-image: url("../img/1.jpg");
}

.top1
{
	background-color: rgba(64, 68, 105, 0.54);
}

.text1
{
	color: #fff;
	margin-left: 300px;
}

.list1
{
	list-style: none;
	display: inline-block;
	margin-left: 1100px;
}

.list1 li
{
	display: inline-block;
	color: #fff;
	margin-left: 30px;
}

.list1 li a
{
	color: #fff;
	text-decoration: none;
}

.list1 li a:hover
{
	-webkit-animation: a1 1s;
	animation-fill-mode: forwards;
}

.top2
{
	width: 100%;
	height: 10%;
	background-color: rgba(253, 70, 62, 0.84);
}

.top2_list
{
	position: relative;
	top: -20px;
}

.top2 div ul
{
	list-style: none;
	display: inline-block;
	margin-left: 410px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.top2 div ul li
{
	display: inline-block;
	color: #fff;
	margin-left: 30px;
}

.top2 div ul li a
{
	font-size: 20px;
	color: #fff;
	text-decoration: none;
}

.top2 div ul li a:hover
{
	-webkit-animation: a2 1s;
	animation-fill-mode: forwards;
}

.top2 div
{
	display: inline-block;
	margin-left: 340px;
}

.top2 div span
{
	color: #fff; 
	display: block;
}

.img3
{
	position: relative;
	left: 5px;
}

hr
{
	background-color: #999;
	border: 0px;
	height: 1px;
}

.type
{
	display: none;
	background-color: #fff;
	width: 0px;
	height: 0px;
}

.type div
{
	display: inline-block;
	color: #08cae2;
	font-size: 24px;
	text-align: center;
	margin-top: 25px;
	padding-left: 15px;
	padding-right: 15px;
	vertical-align: top;
	visibility: hidden;
}

.type div ul
{
	list-style: none;
	color: #999;
	padding-left: 4px;
	font-size: 13px;
	justify-content: center;
}

.type div ul li
{
	margin-top: 7px;
	margin-bottom: 7px;
}

.type div ul li a
{
	text-decoration: none;
	color: #999;
	font-size: 15px;
}

.type div ul li a:hover
{
	-webkit-animation: a3 1s;
	animation-fill-mode: forwards;
}

.SCU
{
	font-family: 'Berkshire Swash', cursive;
	font-size: 40px;
}

.STHS
{
	font-size: 15px;
}

.top3
{
	position: relative;
	top: -30px;
	left: 385px;
	width: 100%;
	height: 36%;
	padding-top: 180px;
	padding-bottom: 180px;
}

.top3 h2
{
	font-family: 'Berkshire Swash', cursive;
	font-size: 40px;
	color: #fff;
	letter-spacing: 1px;
}

.top3 h2 span
{
	font-weight: 100;
	font-family: 'Yantramanav', sans-serif;
	font-size: 50px;
}

.top3 form
{
	width: 738px;
	height: 50px;
	border: 30px solid rgba(0, 0, 0, 0.55);
	font-size: 0px;
}

.keyword
{
	width: 60%;
	height: 100%;
	border: 0px;
	padding: 0px;
	outline: none;
	vertical-align: top;
	font-size: 15px;
	font-size: 15px;
	color: #999;
}

.select1
{
	width: 10%;
	height: 100%;
	border: 0px;
	outline: none;
	padding-left: 10px;
	color: #555;
	font-size: 15px;
	background-color: #e0e3e5;
}

.select1 option,.select2 option
{
	background-color: #fff;
}

.select2
{
	width: 20%;
	height: 100%;
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	outline: none;
	padding-left: 20px;
	color: #555;
	font-size: 15px;
	background-color: #e0e3e5;
}

.search
{
	width: 10%;
	height: 100%;
	border: 0px;
	outline: none;
	color: #fff;
	font-size: 15px;
	background-color: #f71d16;
}

.middle1
{
	margin: 0 auto;
	width: 60%;
	height: 2%;
}

.middle1 span
{
	display: block;
	width: 100%;
	height: 100%;
	background-color: #ffe9e8;
	padding-top: 16px;
	padding-left: 28px;
}

.img4
{
	padding-right: 3px;
}

.middle1 span a
{
	text-decoration: none;
	font-size: 15px;
	color: #e24945;
	vertical-align: top;
}

.middle1 span a:hover
{
	-webkit-animation: a4 1s;
	animation-fill-mode: forwards;
}

.middle2
{
	width: 100%;
	height: 20%;
	background-size: 100% 100%;
	background-image: url("../img/b1.png");
}

.middle2 div
{
	width: 500px;
	height: 300px;
	margin-left: 35px;
	margin-top: 6%;
	background-size: 100% 100%;
	display: inline-block;
}

.middle2 div a
{
	width: 444px;
	height: 244px;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.56);
	padding: 28px;
	display: block;
	color: #e8ff00;
	font-size: 25px;
}

.middle2 div span
{
	display: block;
}

.middle21
{
	text-align: left;
	background-image: url("../img/img1.jpg");
}

.middle22
{
	text-align: right;
	background-image: url("../img/img2.jpg")
}

.m21span1,.m22span1
{
	font-size: 50px;
	font-weight: 100;
}

.m21span2,.m22span2
{
	text-align: center;	
	width: 180px;
	border: 1px solid #fff;
	color: #fff;
	padding: 8px;
	margin-top: 15.4px;
	font-size: 15px;
	font-weight: 500;
	line-height: 1.1;
	font-family: 'Berkshire Swash', cursive;
}

.m22span2
{
	position: relative;
	left: 240px;
}

.m21span3,.m22span3
{
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.1;
	font-family: 'Yantramanav', sans-serif;
	margin-top: 33.6px;
	margin-bottom: 16.8px;
}

.middle3
{
	width: 59%;
	height: 15%;
	margin: 0 auto;
}

.middle3 h3
{
	color: rgb(33,33,33);
	font-family: 微软雅黑;
	font-size: 40px;
	font-weight: 500;
	text-align: center;
	line-height: 1.1;
}

.middle3 div
{
	display: inline-block;
}

.m3d1
{
	padding-top: 35px;
	padding-bottom: 35px;
}

.m3d1 div
{
	vertical-align: top;
	display: table-cell;
}

.m3d1 div span
{
	position: relative;
	top: -62.7px;
	font-family: 'Yantramanav', sans-serif;
    font-size: 5em;
    color: #fff;
    font-weight: 900;
    width: 100%;
    height: 100%;
   	line-height: 160px;
   	border-radius: 50%;
    background: rgba(8, 202, 226, 0.8);
    display: inline-block;
}

.m3d1 div h5
{
	position: relative;
	top: 110px;
	color: #333;
	font-size: 15px;
	font-weight: 500;
	font-family: 'Berkshire Swash', cursive;
}

.m3d1 div img
{
	position: relative;
	top: 20px;
}

.middle3 div div
{
	width: 160px;
	height: 160px;
	margin-left: 47.5px;
	margin-right: 47.5px;
	border: 5px dotted #08cae2;
	border-radius: 50%;
	font-family: 'Yantramanav', sans-serif;
	display: inline-block;
}

.middle3 div div h5
{
	margin: 0px;
}

.middle3 p
{
	color: #999;
	font-size: 15px;
	font-family: 'Yantramanav', sans-serif;
	margin-top: 14px;
}

.middle4
{
	width: 59%;
	height: 7%;
	margin: 0px auto;
	margin-top: 150px;
	overflow: hidden;
}

.m41
{
	width: 25%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	background-color: #fd463e;
}

.m41 h5
{
	color: #fff;
	font-family: 'Berkshire Swash', cursive;
	font-weight: 500;
	line-height: 1.1;
	font-size: 28px;
	margin-top: 32px;
	margin-left: 32px;
	margin-bottom: 0px;
}

.m41 p
{
	color: #fff;
	line-height: 1.4;
	font-size: 15px;
	font-family: 'Yantramanav', sans-serif;
	margin-top: 19.6px;
	margin-left: 32px;
}

.m42
{
	width: 74%;
	height: 100%;
	display: inline-block;
	overflow-y: hidden;
	overflow-x: hidden;
	vertical-align: top;
	white-space: nowrap;
}

.m421
{
	width: 32.5%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	background-size: 100% 100%;
	background-image: url("../img/g1.jpg");
}

.m422
{
	width: 32.5%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	background-size: 100% 100%;
	background-image: url("../img/g2.jpg");
}

.m423
{
	width: 32.5%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	background-size: 100% 100%;
	background-image: url("../img/g3.jpg");
}

.m424
{
	width: 32.5%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	background-size: 100% 100%;
	background-image: url("../img/g4.jpg");
}

.m425
{
	width: 32.5%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	background-size: 100% 100%;
	background-image: url("../img/g5.jpg");
}

.m4211,.m4221,.m4231,.m4241,.m4251
{
	width: 100%;
	height: 71%;
	margin-top: 20%;
	background-color: rgba(5, 5, 3, 0.78);
	text-align: center;
	opacity: 0;
}

.m4211 a,.m4221 a,.m4231 a,.m4241 a,.m4251 a
{
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 25px;
	font-weight: 100;
	font-family: 'Berkshire Swash', cursive;
	text-decoration: none;
	margin-top: 25px;
}

.m4211 a span,.m4221 a span,.m4231 a span,.m4241 a span,.m4251 a span
{
	display: block;
	width: 100%;
	color: #cecece;
	font-weight: 300;
	font-size: 15px;
	font-family: 'Yantramanav', sans-serif;
	text-align: center;
	margin-top: 15px;
}

.bottom
{
	width: 100%;
	height: 12%;
	background-color: #3c3a3a;
	margin-top: 280px;
	text-align: center;
}

.b1
{
	padding-top: 42px;
	padding-left: 42px;
}
.b1 div
{
	display: inline-block;
	vertical-align: top;
	padding-left: 110px;
	padding-right: 110px;
	color: #08cae2;
	font-family: 'Berkshire Swash', cursive;
	font-weight: 500;
	font-size: 25px;
}
.b1 div ul
{
	list-style: none;
	text-align: left;
	font-size: 15px;
	padding: 0px;
	margin-bottom: 16px;
}

.b1 div ul li
{
	padding: 0px;
	margin-top: 8.4px;
}

.b1 div ul li a
{
	text-decoration: none;
	color: #999;
	font-family: 'Yantramanav', sans-serif;
}

.b1 div ul li a:hover
{
	-webkit-animation: a5 1s;
	animation-fill-mode: forwards;
}